

#mapContainer  {
    height: 442px;
    padding:0;
    position: relative;
    top:70px;
}
#map {
    height: 442px;
}



#search {
    position:relative;
    left: -135px;
}
/*
#search-field {
    width: 100%;
    height: 90%;
    border-radius: 25px;
    border: none;
    outline: none;
}
*/

#range-slider {
    position: absolute;
    top: 15px;
    width:50%;
    left:25%;
}

#range-input {
    width: 100%;
    height: 25px;
    background: none;
    outline: none;
}

#places {
    overflow: auto;
    white-space: nowrap;
}

.placesection {
   justify-content: center;
    margin-top:10px;
}

.stars {
    align-items: center;
    color: gold;
    width:70%;
    margin:auto;
    text-align: center;
    font-size: x-large;

}

#placephotos, #uploadPreview {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000c;

}

#bubble {
    background: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top:20px;
    transform: translateX(-50%);
}

.placethumb {
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:100px;
    width:100px;
}
.placethumb:hover {
    transform:scale(1.1);
}

#modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 90%;
    height:90%;
    max-width: 1200px;
    max-height: 800px;
}

.close{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slideImg{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.mySlides{
    display:flex;
    justify-content: center;

}
.imgButton{
    background-color: white;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    border:none;
    outline:none;
}

#uploadPreview {
justify-content: center;
    z-index:10;
}
h4{
    text-align: center;
}
/*
#uploadToFirebase{
    position:absolute;
    top:30px;
    width:100px;
    height: 40px;
    display: none;
}


#uploadSnackbar{
    display: none;
    position:absolute;
    top:100px;
    width:250px;
    height:50px;
    font-size: x-large;
    text-align: center;

}
*/

#myCarousel {
    position: relative;
    top: -442px;
    background-color: #000000b5;
    z-index: 11;
}

#placecontainer {
    position: relative;
    top:70px;
}

