

#map {
    height: 100%;
}
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#search {
    position: absolute;
    top: 15px;
    left: 25%;
    z-index: 5;
    background-color: white;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
    width: 50%;
    border-radius: 25px;
    height: 50px;
}

#search-field {
    width: 100%;
    height: 90%;
    border-radius: 25px;
    border: none;
    outline: none;
}

#range-slider {
    position: absolute;
    top: 70px;
    width:50%;
    left:25%;
}

#range-input {
    width: 100%;
    height: 25px;
    background: none;
    outline: none;
}
#places {
    position:absolute;
    bottom:0px;
    width:100%;
    height: 200px;
    z-index: 6;
    background-color: white;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    border: white;
    border-radius: 25px;
}
.placesection {
    border: black;
    height: 85%;
    background-color: white;
    padding: 10px;
    outline: black;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left:10px;
    margin-top:5px;
}
.placesection:hover {
    transform: scale(1.1);
    background-color: aliceblue;
}

.stars {
    align-items: center;
    color: gold;
    width:50%;
    margin:auto;
}

#placephotos, #uploadPreview {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000c;

}

#bubble {
    background: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.placethumb {
    transition: 0.2s;
}
.placethumb:hover {
    transform:scale(1.1);
}

#modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 90%;
    height:90%;
    max-width: 1200px;
    max-height: 800px;
}

.close{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slideImg{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.mySlides{
    display:flex;
    justify-content: center;

}
.imgButton{
    height:40px;
    width:40px;
    background-image: url("img/camera.png");
    outline:none;
    border: none;
    background-color: transparent;
    position:relative;
    top:-15px;
    left:215px;
    right:0px;
    z-index: 10;
}

#uploadPreview {
justify-content: center;
}
h4{
    margin:0;
}

#uploadToFirebase{
    position:absolute;
    top:30px;
    width:100px;
    height: 40px;
}



