html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

header {
    height: 30px;
    width: 100%;
    background-color: lightsteelblue;
    margin: 0;
    padding: 25px 0px;
}

button {
    transition: 0.1s;
    background-color: blueviolet;
}

button:hover {
    background-color: cadetblue;
    transform:scale(1.03);
}

button:active {
    background-color: aquamarine;
}

#search {
    margin-right: auto;
    margin-left: auto;
    width: 30%;

}

#search-field {
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    float: left;

}

#search-button{
    width: 15%;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
}

#range-slider {
    position: absolute;
    top: 100px;
    width:50%;
    left:25%;
}

#range-input {
    width: 100%;
    height: 25px;
    background: none;
    outline: none;
}
#places {
    width:100%;
    min-height: 200px;
    padding: 25px 0px;
    z-index: 6;
    background-color: lightsteelblue;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    white-space: nowrap;
}
.placesection {
    border: black;
    height: 250px;
    background-color: white;
    padding: 10px;
    outline: black;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left:10px;
    margin-top: 10px;
    position: relative;
}
.placesection:hover {
    transform: scale(1.05);
    background-color: aliceblue;
}

.stars {
    align-items: center;
    color: gold;
    width:50%;
    margin:auto;
    padding: 25px;
    font-size: 25px;
}

#placephotos, #uploadPreview {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000c;

}

#bubble {
    background: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.placethumb {
    transition: 0.2s;
    height: 90px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    object-fit: cover;
    max-width: 200px;
}

.placethumb:hover {
    transform:scale(1.1);
}

#modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 90%;
    height:90%;
    max-width: 1200px;
    max-height: 800px;
}

.close{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slideImg{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.mySlides{
    display:flex;
    justify-content: center;

}

.imgButton{
    width:35%;
    outline:none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: center;
    padding: 10px;

}

#uploadPreview {
    justify-content: center;
}

h4{
    margin:0;
}

#uploadToFirebase{
    position:absolute;
    top:30px;
    width:100px;
    height: 40px;
    display: none;
}

#uploadSnackbar{
    display: none;
    position:absolute;
    top:100px;
    width:250px;
    height:50px;
    font-size: x-large;
    text-align: center;

}

#map {
    width: 100%;
    height: 500px;
}